<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head><title></title></head>
<body>
Prezado(a),
<br>
<br>
Ocorreu uma solicitação para troca de senha no PropostaApplication.
<br>
<br>
<pre>    -Para resetar sua senha clique <a th:href="${url}" target="_blank" style="color:#0075bc;">aqui</a></pre>
<br>
Ou acesse diretamento o link: <span th:text="${url}"></span>
<br>
<br>
O link de acesso tem validade de 4 horas.
<br>
<br>
<br>
Atenciosamente,<br>
Equipe PropostaApplication
</body>
</html>