<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head><title></title></head>
<body>
Prezado(a),
<br>
<br>
Para a reativação de sua conta no PropostaApplication, acesse o link abaixo e cadastre uma senha.
<br>
<br>
<br>
Clique no link para acessar o sistema e alterar sua senha: <a th:href="${url}" target="_blank" style="color:#0075bc;"><span th:text="${url}"></span></a>
<br>
<br>
O link de acesso tem validade de 4 horas.
<br>
<br>
<br>
Atenciosamente,<br>
Equipe PropostaApplication
</body>
</html>